
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Incluye un fallback como "sans-serif" */
}

body {
    background-color: black;
}
/**********HEADER**********/
.principal {
    margin-top: -100px;
    height: 100vh; 
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.firstsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firstsection p {
    color: white;
    font-size: 2rem;
    text-shadow: 4px 4px 10px black;
    opacity: 0;
}
.nombre {
    font-size: 3rem;
    color: white;
    text-shadow: 4px 4px 10px black;
    opacity: 0;
}
.imageperfil img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover; 
}
/****************HEADER **************/
header{
    height: 100vh;
}

.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.proyectos h2{
    color: white;
    font-size: 30px;
    padding-top: 10rem;
}

.proyectos img{
    width: 300px;
    height: 150px;
    margin: 20px;
    border: 3px white solid;
}
.proyectos2{
    display: flex;
}
.proyectounitario{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.proyectounitario p{
    width: 300px;
    font-size: 17px;
    text-align: center;
}
/******************SOBRE MI*********************/
.perfil{
    display: flex;
    justify-content: space-evenly;
    color:white;
    height: 100vh;
}
.perfil2{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    
}
.perfil2 h2{
    font-size: 30px;
}
.perfil2 p{
    font-size: 17px;
}
/****************************SOBREMI ******************/

.conocimientos  h1{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 1rem;


}
.conocimientos{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/****************EDUCACION**********************/
.educacion {
    display: flex;
    text-align: center;
    color:white;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    height: 100vh;
}
.educacion h2{
    font-size: 30px;
}
.estudios{
    display: flex;
    gap: 30px;
}
.cursos{
    width: 500px;
    text-align: center;
}
.cursos p{
    font-size: 17px;
}
.cursos h3{
    font-size: 22px;
}

/***********************EDUCACION******************/
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    text-align: center;
    height: 100vh;
    gap: 15px;
}
.contacto h2{
    font-size: 30px;
}

.contacto p ,div{
    font-size: 17px;
}
.contacto div p a{
    text-decoration: none;
    color: white;
}

footer{
    color:white;
    text-align: center;
    padding-top: 15px;
}
.iconohtml{
    padding-left: 50px;
}